@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(241 245 249);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

input {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

input,
textarea {
  border: 1px solid rgb(156 163 175);
  border-radius: 0.25rem;
}

.errorMessage {
  color: #bf1650;
}
.errorMessage::before {
  display: inline;
  content: "⚠ ";
}
